  jenkins-docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    networks:
      jenkins:
        aliases:
          - docker
    ports:
      - "2376:2376"
    command: --storage-driver overlay2
